@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-blue:#5F81A5;
    --color-white:#ffff;
    --color-grey:#1C1919;
    --color-greydark:#272727;
    --color-bluedark:#0D3050;
    --color-bluehover:#4F708E;
}